$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
//****Override Sass variables


//== border-radius
$border-radius-base:        0px;
$border-radius-large:       0px;
$border-radius-small:       0px;

.title{
  text-align:center;
  text-transform: uppercase;
}

.nav{
  li{
    background-color:#3F51B5;
    a{
      text-transform: uppercase;
      color: white;
        &:hover,
        &:focus {
          color:#3F51B5;
          background-color:white;
        }
    }
  }
}

.jumbotron{
  text-align: center;
  h2{
    text-transform: uppercase;
  }
}

// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

